-- CreateEnum
CREATE TYPE "DepositStatus" AS ENUM ('IN_PROGRESS', 'COMPLETED', 'ABANDONED', 'FAILED');

-- CreateEnum
CREATE TYPE "ItemStatus" AS ENUM ('ACCEPTED', 'REJECTED', 'PENDING');

-- CreateEnum
CREATE TYPE "TransactionType" AS ENUM ('DEPOSIT', 'REDEMPTION', 'REFUND', 'BONUS');

-- CreateEnum
CREATE TYPE "TransactionStatus" AS ENUM ('PENDING', 'COMPLETED', 'FAILED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "PayoutChannel" AS ENUM ('GCASH', 'MAYA', 'QRPH', 'CASH', 'WALLET');

-- CreateEnum
CREATE TYPE "OperatorPayoutStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED', 'EXPIRED');

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "memberId" VARCHAR(50) NOT NULL,
    "qrCodeId" VARCHAR(50) NOT NULL,
    "fullName" VARCHAR(255) NOT NULL,
    "phoneNumber" VARCHAR(20),
    "emailAddress" VARCHAR(255),
    "age" INTEGER,
    "barangay" VARCHAR(100),
    "profilePhotoUrl" TEXT,
    "walletBalance" REAL NOT NULL DEFAULT 0.0,
    "totalLifetimeEarnings" REAL NOT NULL DEFAULT 0.0,
    "ecoPoints" INTEGER NOT NULL DEFAULT 0,
    "co2ReducedKg" REAL NOT NULL DEFAULT 0.0,
    "pinCodeHash" VARCHAR(255),
    "lastLoginAt" TIMESTAMP(3),
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "deposit_sessions" (
    "id" TEXT NOT NULL,
    "userId" TEXT,
    "sessionRefId" VARCHAR(100) NOT NULL,
    "status" "DepositStatus" NOT NULL DEFAULT 'IN_PROGRESS',
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMP(3),
    "totalItemsCount" INTEGER NOT NULL DEFAULT 0,
    "acceptedItemsCount" INTEGER NOT NULL DEFAULT 0,
    "rejectedItemsCount" INTEGER NOT NULL DEFAULT 0,
    "totalWeightGrams" INTEGER NOT NULL DEFAULT 0,
    "totalPayout" REAL NOT NULL DEFAULT 0.0,
    "totalEcoPoints" INTEGER NOT NULL DEFAULT 0,
    "totalCo2ReductionKg" REAL NOT NULL DEFAULT 0.0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "deposit_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "deposited_items" (
    "id" TEXT NOT NULL,
    "sessionId" TEXT NOT NULL,
    "itemNumber" INTEGER NOT NULL,
    "detectedMaterial" VARCHAR(50) NOT NULL,
    "itemName" VARCHAR(255) NOT NULL,
    "weightGrams" INTEGER NOT NULL,
    "payoutAmount" REAL NOT NULL,
    "ecoPoints" INTEGER NOT NULL,
    "co2ReductionKg" REAL NOT NULL,
    "status" "ItemStatus" NOT NULL DEFAULT 'ACCEPTED',
    "confidence" REAL,
    "imageCaptureUrl" TEXT,
    "inductiveSensorReading" BOOLEAN,
    "loadCellReadingGrams" INTEGER,
    "tofDistanceMm" INTEGER,
    "classificationConfidence" DOUBLE PRECISION,
    "processedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "deposited_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "detection_history" (
    "id" TEXT NOT NULL,
    "detectedMaterial" VARCHAR(50) NOT NULL,
    "itemName" VARCHAR(255),
    "confidence" REAL,
    "estimatedWeightGrams" INTEGER,
    "co2ReductionKg" REAL,
    "ecoPoints" INTEGER,
    "payoutAmount" REAL,
    "imageBase64" TEXT,
    "status" "ItemStatus" NOT NULL DEFAULT 'ACCEPTED',
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "detection_history_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "detection_history_timestamp_idx" ON "detection_history"("timestamp");

-- CreateTable
CREATE TABLE "rate_limits" (
    "key" TEXT NOT NULL,
    "count" INTEGER NOT NULL DEFAULT 0,
    "resetTime" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "rate_limits_pkey" PRIMARY KEY ("key")
);

-- CreateTable
CREATE TABLE "transaction_history" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "payoutId" TEXT,
    "type" "TransactionType" NOT NULL,
    "amount" REAL NOT NULL,
    "balanceBefore" REAL,
    "balanceAfter" REAL,
    "details" TEXT,
    "ecoPointsGained" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "transaction_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "payout_transactions" (
    "id" TEXT NOT NULL,
    "externalId" VARCHAR(100) NOT NULL,
    "userId" TEXT NOT NULL,
    "sessionId" TEXT,
    "amount" REAL NOT NULL,
    "channel" "PayoutChannel" NOT NULL,
    "accountNumber" VARCHAR(50),
    "accountName" VARCHAR(255),
    "payoutUrl" TEXT,
    "status" "PayoutStatus" NOT NULL DEFAULT 'PENDING',
    "failureCode" VARCHAR(100),
    "failureReason" TEXT,
    "completedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "payout_transactions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "receipts" (
    "id" TEXT NOT NULL,
    "transactionId" VARCHAR(50) NOT NULL,
    "sessionId" TEXT,
    "userId" TEXT,
    "materialsDeposited" VARCHAR(255),
    "totalWeightKg" DOUBLE PRECISION,
    "totalReward" DOUBLE PRECISION,
    "payoutMethod" VARCHAR(100),
    "payoutStatus" VARCHAR(50),
    "printedAt" TIMESTAMP(3),
    "printedCount" INTEGER NOT NULL DEFAULT 0,
    "emailSentAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "receipts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_log" (
    "id" BIGSERIAL NOT NULL,
    "userId" TEXT,
    "eventType" VARCHAR(100) NOT NULL,
    "entityType" VARCHAR(100),
    "entityId" VARCHAR(100),
    "action" VARCHAR(50),
    "oldValues" JSONB,
    "newValues" JSONB,
    "ipAddress" VARCHAR(50),
    "userAgent" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "audit_log_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "dispenser_inventory" (
    "id" BIGSERIAL NOT NULL,
    "machineId" VARCHAR(50) NOT NULL,
    "coins10Pesos" INTEGER NOT NULL DEFAULT 0,
    "coins5Pesos" INTEGER NOT NULL DEFAULT 0,
    "coins1Peso" INTEGER NOT NULL DEFAULT 0,
    "lastRefilled" TIMESTAMP(3),
    "refillCount" INTEGER NOT NULL DEFAULT 0,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "dispenser_inventory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "bin_inventory" (
    "id" BIGSERIAL NOT NULL,
    "machineId" VARCHAR(50) NOT NULL,
    "materialType" VARCHAR(50) NOT NULL,
    "currentCount" INTEGER NOT NULL DEFAULT 0,
    "maxCapacity" INTEGER,
    "lastEmptied" TIMESTAMP(3),
    "emptyCount" INTEGER NOT NULL DEFAULT 0,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "bin_inventory_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_memberId_key" ON "users"("memberId");

-- CreateIndex
CREATE UNIQUE INDEX "users_qrCodeId_key" ON "users"("qrCodeId");

-- CreateIndex
CREATE UNIQUE INDEX "users_phoneNumber_key" ON "users"("phoneNumber");

-- CreateIndex
CREATE UNIQUE INDEX "users_emailAddress_key" ON "users"("emailAddress");

-- CreateIndex
CREATE INDEX "users_memberId_idx" ON "users"("memberId");

-- CreateIndex
CREATE INDEX "users_phoneNumber_idx" ON "users"("phoneNumber");

-- CreateIndex
CREATE INDEX "users_createdAt_idx" ON "users"("createdAt");

-- CreateIndex
CREATE INDEX "users_isActive_idx" ON "users"("isActive");

-- CreateIndex
CREATE UNIQUE INDEX "deposit_sessions_sessionRefId_key" ON "deposit_sessions"("sessionRefId");

-- CreateIndex
CREATE INDEX "deposit_sessions_userId_idx" ON "deposit_sessions"("userId");

-- CreateIndex
CREATE INDEX "deposit_sessions_sessionRefId_idx" ON "deposit_sessions"("sessionRefId");

-- CreateIndex
CREATE INDEX "deposit_sessions_status_idx" ON "deposit_sessions"("status");

-- CreateIndex
CREATE INDEX "deposit_sessions_createdAt_idx" ON "deposit_sessions"("createdAt");

-- CreateIndex
CREATE INDEX "deposited_items_sessionId_idx" ON "deposited_items"("sessionId");

-- CreateIndex
CREATE INDEX "deposited_items_detectedMaterial_idx" ON "deposited_items"("detectedMaterial");

-- CreateIndex
CREATE UNIQUE INDEX "deposited_items_sessionId_itemNumber_key" ON "deposited_items"("sessionId", "itemNumber");

-- CreateIndex
CREATE INDEX "transaction_history_userId_idx" ON "transaction_history"("userId");

-- CreateIndex
CREATE INDEX "transaction_history_type_idx" ON "transaction_history"("type");

-- CreateIndex
CREATE INDEX "transaction_history_createdAt_idx" ON "transaction_history"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "payout_transactions_externalId_key" ON "payout_transactions"("externalId");

-- CreateIndex
CREATE INDEX "payout_transactions_userId_idx" ON "payout_transactions"("userId");

-- CreateIndex
CREATE INDEX "payout_transactions_sessionId_idx" ON "payout_transactions"("sessionId");

-- CreateIndex
CREATE INDEX "payout_transactions_status_idx" ON "payout_transactions"("status");

-- CreateIndex
CREATE INDEX "payout_transactions_externalId_idx" ON "payout_transactions"("externalId");

-- CreateIndex
CREATE UNIQUE INDEX "receipts_transactionId_key" ON "receipts"("transactionId");

-- CreateIndex
CREATE INDEX "receipts_transactionId_idx" ON "receipts"("transactionId");

-- CreateIndex
CREATE INDEX "receipts_sessionId_idx" ON "receipts"("sessionId");

-- CreateIndex
CREATE INDEX "audit_log_userId_idx" ON "audit_log"("userId");

-- CreateIndex
CREATE INDEX "audit_log_eventType_idx" ON "audit_log"("eventType");

-- CreateIndex
CREATE INDEX "audit_log_createdAt_idx" ON "audit_log"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "dispenser_inventory_machineId_key" ON "dispenser_inventory"("machineId");

-- CreateIndex
CREATE UNIQUE INDEX "bin_inventory_machineId_materialType_key" ON "bin_inventory"("machineId", "materialType");

-- AddForeignKey
ALTER TABLE "deposit_sessions" ADD CONSTRAINT "deposit_sessions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "deposited_items" ADD CONSTRAINT "deposited_items_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES "deposit_sessions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "transaction_history" ADD CONSTRAINT "transaction_history_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "transaction_history" ADD CONSTRAINT "transaction_history_payoutId_fkey" FOREIGN KEY ("payoutId") REFERENCES "payout_transactions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payout_transactions" ADD CONSTRAINT "payout_transactions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payout_transactions" ADD CONSTRAINT "payout_transactions_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES "deposit_sessions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_log" ADD CONSTRAINT "audit_log_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

